@import url(http://fonts.googleapis.com/css?family=Alex+Brush);

.profile-div {
  text-align: center;
}

.profile-form .form-group {
  padding: 8% 1%;
}

#profileName, #imgUrl {
  background-color: #659096;
  color: white;
}

.sign-up-form {
  border: 2px solid white;
  margin: 1%;
  text-align: center;
  color: white;
}

///////////////////////////////////////////////////////////////
///////////////// brand //////////////////////////////////////
//////////////////////////////////////////////////////////////

.brand-body {
  font-family: 'Alex Brush', cursive;
  font-size: 20rem;
  text-align: center;
  color: white;
  margin: 1%;
}

.navbar-text {
  font-family: 'Alex Brush', cursive;
  font-size: 2rem;
}

/////////////////////////////////////////////////////////////
//////////////////// html elements /////////////////////////
///////////////////////////////////////////////////////////

form {
  border: 2px solid white;
  color: white;
  text-align: center;
  margin: 1%;
}

img {
  max-width: 100%;
}

body {
  background: linear-gradient(to top, #196773, #659096 100%);
  background-attachment: fixed;
}

// required for fixed nav bar. navbar is 50px high
body { padding-top: 70px; }
