doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='css/main.css' type='text/css')
    title Nerd Tree <3

  body
    
    //- navbar
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img.img-circle(alt='brand' src='../img/nerdtreebrand.png')
        p.navbar-text Nerd Tree
        form.navbar-form.navbar-right
          .form-group
            button.btn.btn-default.navbar-btn(type='button' id='signIn') Sign In
            button.btn.btn-default.navbar-btn(type='button' id='signUp') Sign Up
            button.btn.btn-default.navbar-btn(type='button' id='logout') Logout
    
    //- pretty h1 and tree img
    .brand-land
      h1.brand-body Nerd Tree
      .row
        .col-md-4.col-md-offset-4
          //- try to make the image a heart
          img.img-circle(alt='data tree' src='../img/actualtree.png')
    
    <!-- --FORMS-- -->
    
    //- signup form
    .row
      .col-md-4.col-md-offset-4
        form.sign-up-form
          h2 Find your nerd tree
          .form-group
            label Email Address
            input.form-control(id='signupEmail' type='email' placeholder='bob@aol.com')
          .form-group
            label Password
            input.form-control(id='signupPassword' type='password' placeholder='password1')
          .form-group
            button.btn.btn-default(type='submit' id='createNewUser') Sign Up
            button.btn.btn-default(id='cancelSignup') Cancel
    
    //- signin form
    .row
      .col-md-4.col-md-offset-4
        form.sign-in-form
          h2 Welcome Back!
          .form-group
            label Email Address
            input.form-control(type='email' placeholder='bob@aol.com')
          .form-group
            label Password
            input.form-control(type='password' placeholder='password1')
          .form-group
            button.btn.btn-default(type='submit' id='loginExistingUser') Submit
            button.btn.btn-default(id='cancelSignin') Cancel

    //- profile form
    .row
      .col-md-4.col-md-offset-4
        form.profile-form
          h2 Inform the Nerd Tree
          .form-group
            label Name
            input.form-control(type='text' placeholder='Bob')
          .form-group
            label Picture URL
            input.form-control(type='http' placeholder='http://imgur.com/bob')
          .form-group
            button.btn.btn-default(type='submit' id='submitProfile') Submit         
            button.btn.btn-default(type='submit' id='cancelProfile') Cancel         

    <!-- --END FORMS-- -->

    //- load profile here
    #profileTarget
      
    script(type='text/javascript' src='vendor/jquery.js')
    script(type='text/javascript' src='vendor/lodash.min.js')
    script(type='text/javascript' src='vendor/firebase.js')
    script(type='text/javascript' src='js/main.js')
